:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

	color-scheme: light dark;
	background: #fff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a,
button {
	all: unset;
	cursor: pointer;
	display: block;
}

input {
	outline: none;
	background-color: unset;
	background-image: none;
	background-color: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

input,
select,
textarea,
button {
	font-family: inherit;
  font-size: 1rem;
  accent-color: unset;
}
